<p>All request are made to <a href="http://api.natura.di.uminho.pt">http://api.natura.di.uminho.pt</a>, and all responses are in <em>JSON</em> format. Check the online <a href="/demo">demo</a>.</p>

<h3>Tokenizer</h3>

[% IF res %]
<div class="form-group">
	<label for="inputTxt" class="col-sm-2 control-label">Response</label>
	<div class="col-sm-10">
  		<pre class="prettyprint lang-js">[% res %]</pre>
	</div>
</div>
[% END %]

